.valves__container.container 
    .valvel__top 
        .valves__top-container 
            .valves__top-start 
                h1.valves__top-title Список пользователей
            .valves__end
                .valves__end-container 
                    include /components/search/search                
        .valves__tab-content
            include ./users-table/users-table