.input {
    position: relative;
    display: block;
    width: 100%;
    &.--search {
        font-size: 14px;
        line-height: 1;
        color: $text_link;
        background-color: #fff;
        & .input__el {
            width: 100%;
            padding: 16px 23px;
            border-radius: 5px;
            border: 1px solid $border_gray;
        }
        & .input__placeholder {
            left: 23px;
        }
        & .input__button {
            width: 62px;
            border-left: 1px solid $border_gray;
        }
    }
    &.--active {
        & .input__placeholder {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
    &__el {
        border-radius: 3px;
    }
    &__placeholder {
        position: absolute;
        top: 50%;
        opacity: 1;
        transform: translateY(-50%);
        transition: transform $transition, opacity $transition;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        &:hover {
            & svg {
                fill: $activeOrange;
            }
        }
        & svg {
            transition: fill $transition;
        }
    }
}
