.chart 
    .chart__container
        .chart__left 
            h2.chart__title Расход воды, л/мин
            canvas(id="chart-warer-flow")
        .chart__right.--resource
            //- h2.chart__title Оставшийся ресурс
            canvas(id="chart-resource")