.tab 
    .tab__container.container
        .nav-tabs
            a.nav-tab.active(href='#', data-tab='valves') Клапаны
            a.nav-tab(href='#', data-tab='users') Пользователи
        .tab-content
        include /components/breadcrumbs/breadcrumbs
            .tab-pane.valves.active(data-tab-content='valves')
                include ./valves/valves

            //- Здесь лежит вложенность таба "Пользователи"
            //- .tab-pane.users(data-tab-content='users')
            //-     include ./users/users

            //- Здесь лежит личный кабинет пользователя + настройка и инфа по клапану
            .tab-pane.users.client-profile__tab(data-tab-content='users')
                include ../client-profile/client-profile
            
            //- Здесь лежит контроллер для клапана
            h2.valve-controller__title Система очистки воды
            .tab-pane.active.users.valve-controller__tab(data-tab-content='users')
                include ../valve-controller/valve-controller
            