.valves {
    background-color: white;
    border-radius: 4px;
    &__container {
        
    }
    &__top {
        &-container {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        &-title {
            font-weight: 100;
            margin-bottom: 30px;
        }
        &-start {
            display: flex;
            align-items: center;
        }
    }
    &__nav {
        &-tabs {
            display: flex;
            align-items: center;
        }
        &-tab {
            background-color: #ebecf0;
            color: #939bb0;
            padding: 12px 25px 12px 25px;
            border-radius: 4px;
            width: 140px;
            transition: $transition;
            text-align: center;
            &:first-child {
                position: relative;
                z-index: 1;
            }
            &:last-child {
                position: relative;
                z-index: 0;
                margin-left: -6px;
            }
            &:hover {
                color: white;
                background-color: $btn-blue;
            }
            &.active {
                color: white;
                background-color: $btn-blue;
            }
        }
    }
    &__tab-pane {
        width: 100%;
        display: none;
        padding-top: 35px;
        &.active {
            display: block;
        }
    }
    &__end {
        &-container {

        }
    }

    &__nav-tabs {

    }
    &__nav-tab {

    }

    &__tab-content {

    }

    &__tab-pane {

    }
}
