.chart 
    .chart__container
        .chart__left 
            h2.chart__title Расход воды, м<sup>3<sup>
            canvas(id="chart-warerflow-metr")
            
        .chart__right
            h2.chart__title Расход реагента, кг
            canvas(id="chart-reagent")
            