.popup.popup-menu
  .popup__wrapper
    .popup__inner
      .popup__content.popup__content--fluid.popup__content--centered
        button.btn-close.popup__btn-close.popup-close
        .header__middle.popup__header-middle
            img(src="/images/common/logo.png", alt="Логотип" class="header__logo popup__header-logo")
            p.header__logo-text.popup__header-logo-text online
            <svg class="header__logo-line popup__header-logo-line" xmlns="http://www.w3.org/2000/svg" width="1" height="34" viewBox="0 0 1 34">
            <defs>
            </defs>
            <rect id="_" data-name="=" class="cls-1" width="1" height="34"/>
            </svg>
            .header__middle-info.popup__header-middle-info Управление автоматикой <br> систем очистки воды
        nav.mobile-menu.popup__mobile-menu
          ul.mobile-menu__ul
            li.mobile-menu__li
                p Ваш ID: 172
            li.mobile-menu__li
                +button('Выйти')
        .phone.popup__phone
          a(href="tel:+78007756702" class="header__start-tel popup__header-tel") +7 (800) 775 67 02
