@import './customization/customization.scss';
@import './information/information.scss';
@import './statistics/statistics.scss';
@import './flushing/flushing.scss';
@import './warnings/warnings.scss';
@import './archive/archive.scss';

.filter-tabs {
    &__container {

    }
    &__nav-tab {
        margin-bottom: 20px;
        cursor: pointer;
        color: $main_tabs;
        margin-right: 30px;
        transition: $transition;
        position: relative;
        &:last-child {
            margin-right: 0px;
        }
        &.active {
            transition: $transition;
            color: $black;
            &::after {
                background-color: $btn-blue;
                position: absolute;
                content: '';
                bottom: -25px;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 2px;
            }
        }
        &:hover {
            color: $black;
        }
    }
    &__tab-pane {
        width: 100%;
        display: none;
        padding-top: 35px;
        &.active {
            display: block;
        }
    }
}