@import "./customization/customization.scss";
@import "./information/information.scss";
@import "./statistics/statistics.scss";
@import "./flushing/flushing.scss";
@import "./warnings/warnings.scss";
@import "./archive/archive.scss";

.filter-tabs {
    &__container {
    }
    &__nav-tabs {
        position: relative;
        &::after {
            position: absolute;
            top: 45px;
            left: 0px;
            content: "";
            width: 100%;
            height: 1px;
            background-color: #e0e0e7;
        }
    }
    &__title-item {
        margin: 15px 0px 10px;
        font-weight: 300;
    }
    &__nav-tab {
        margin-bottom: 20px;
        cursor: pointer;
        color: $main_tabs;
        margin-right: 30px;
        transition: $transition;
        position: relative;
        &:last-child {
            margin-right: 0px;
        }
        &::after {
            transition: $transition;
            background-color: $btn-blue;
            position: absolute;
            content: "";
            bottom: -25px;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 2px;
            opacity: 0;
            // transform: translateX(-95px);
        }
        &.active {
            transition: $transition;
            color: $black;
            &::after {
                // transform: translateX(0px);
                opacity: 1;
            }
        }
        &:hover {
            color: $black;
        }
    }
    &__tab-pane {
        width: 100%;
        display: none;
        padding-top: 35px;
        &.active {
            display: block;
        }
    }
}
