.customization__info
    .customization__info-container
        +customizationSelect('Тип клапана', '1.0', '2.0', '3.0')
        +customizationSelect('Настройка режима работы внешнего клапана 1', 'Выкл', 'Выкл', 'Вкл')
        +customizationSelect('Промывка перед возвращением в сервис', 'Выкл', 'Выкл', 'Вкл')
        +customizationSelect('Внешний сигнал', 'Выкл', 'Выкл', 'Вкл')
        +customizationSelect('Заполнение реагентного бака, единицы измерения', 'кг', 'кг', 'гр', 'мг', 'мкг')
        +customizationSelect('Тип счетчика', '1.0', '2.0', '3.0')
        +customizationSelect('Тип счетчика', '1.0', '2.0', '3.0')
        +customizationSelect('Отложенное завершение промывки', 'Выкл', 'Выкл', 'Вкл')
        +customizationSelect('Настройка режима работы (дополнительного) внешнего клапана 2', 'Выкл', 'Выкл', 'Вкл')
        +customizationSelect('Единицы жесткости', 'мг-экв/л', 'мг-экв/л')


