.customization__info
    .customization__info-container
        .customization__select
            .customization__select-container
                p Тип клапана
                .form__wrapper
                .form__label.form__select
                    input.input__element(type='hidden' name='')
                    .form__select-head 1.0
                    ul.form__select-list
                        li.form__select-item 1.0
                        li.form__select-item 2.0
                        li.form__select-item 3.0
                        li.form__select-item 4.0
                        li.form__select-item 5.0

        //- ==================================================================

        .customization__select
            .customization__select-container
                p Настройка режима работы внешнего клапана 1
                .form__wrapper
                .form__label.form__select
                    input.input__element(type='hidden' name='')
                    .form__select-head Выкл
                    ul.form__select-list
                        li.form__select-item Вкл
                        li.form__select-item Выкл


        //- ==================================================================

        .customization__select
            .customization__select-container
                p Промывка перед возвращением в сервис
                .form__wrapper
                .form__label.form__select
                    input.input__element(type='hidden' name='')
                    .form__select-head Выкл
                    ul.form__select-list
                        li.form__select-item Вкл
                        li.form__select-item Выкл

        //- ==================================================================

        .customization__select
            .customization__select-container
                p Внешний сигнал
                .form__wrapper
                .form__label.form__select
                    input.input__element(type='hidden' name='')
                    .form__select-head Выкл
                    ul.form__select-list
                        li.form__select-item Вкл
                        li.form__select-item Выкл

        //- ==================================================================

        .customization__select
            .customization__select-container
                p Заполнение реагентного бака, единицы измерения
                .form__wrapper
                .form__label.form__select
                    input.input__element(type='hidden' name='')
                    .form__select-head кг
                    ul.form__select-list
                        li.form__select-item кг
                        li.form__select-item г
                        li.form__select-item мг
                        li.form__select-item мкг

        //- ==================================================================

        .customization__select
            .customization__select-container
                p Тип счетчика
                .form__wrapper
                .form__label.form__select
                    input.input__element(type='hidden' name='')
                    .form__select-head 1.0
                    ul.form__select-list
                        li.form__select-item 1.0
                        li.form__select-item 2.0
                        li.form__select-item 3.0
                        li.form__select-item 4.0
                        li.form__select-item 5.0

        //- ==================================================================

        .customization__select
            .customization__select-container
                p Отложенное завершение промывки
                .form__wrapper
                .form__label.form__select
                    input.input__element(type='hidden' name='')
                    .form__select-head Выкл
                    ul.form__select-list
                        li.form__select-item Выкл
                        li.form__select-item Вкл

        //- ==================================================================

        .customization__select
            .customization__select-container
                p Настройка режима работы (дополнительного) внешнего клапана 2
                .form__wrapper
                .form__label.form__select
                    input.input__element(type='hidden' name='')
                    .form__select-head Выкл
                    ul.form__select-list
                        li.form__select-item Выкл
                        li.form__select-item Вкл

        //- ==================================================================

        .customization__select
            .customization__select-container
                p Единицы жесткости
                .form__wrapper
                .form__label.form__select
                    input.input__element(type='hidden' name='')
                    .form__select-head мг-экв/л
                    ul.form__select-list
                        li.form__select-item мг-экв/л

