.customization__info
    .customization__info-container
        +customizationSelect('Тип клапана', '1.0', '1.25', '1.5', '2.0', '1.0T')
        +customizationSelect('Настройка режима работы внешнего клапана 1', 'Выкл', 'Выкл', 'Без байпаса', 'Клапан А', 'Клапан Б', 'Системный контроллер')
        +customizationSelect('Промывка перед возвращением в сервис', 'Выкл', 'Выкл', 'Вкл')
        +customizationSelect('Внешний сигнал', 'Выкл', 'Выкл', 'Немедленная промывка', 'Отложенная промывка', 'Запрет промывки')
        +customizationSelect('Заполнение реагентного бака, единицы измерения', 'кг', 'кг', 'мин')
        +customizationSelect('Тип счетчика', '1.0', '1.25', '1.5', '2.0', '3.0', '1.0R', '1.0T')
        +customizationSelect('Отложенное завершение промывки', 'Выкл', 'Выкл', 'Вкл')
        +customizationSelect('Настройка режима работы (дополнительного) внешнего клапана 2', 'Выкл', 'Выкл', 'Без байпаса', 'Промывка чистой водой / полная', 'Защита от протечек')
        +customizationSelect('Единицы жесткости', 'мг-экв/л', 'мг-экв/л', 'fH', 'dH')


