.customization__select {
    margin-right: 40px;
    height: 85px;
    flex-grow: 0;
    max-width: 45%;
    flex-basis: 50%;
    @media (max-width: $desktop) {
        max-width: 40%;
        margin-right: 60px;
    }
    @media (max-width: $tablet) {
        max-width: 100%;
        margin-right: 0;
    }

    &-container {
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 20px;
        border-bottom: 1px solid #e0e0e7;
        &.--type-systems {
            flex-direction: column;
        }
        & p {
            margin-right: 15px;
        }
    }
}
