.customization__select {
    width: 90%;
    @media (max-width: $tablet) {
        width: 100%;
    }
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 20px;
        border-bottom: 1px solid #e0e0e7;
        &.--type-systems {
            flex-direction: column;
        }
        & p {
            margin-right: 15px;
        }
    }
}
