.customization__select {
    width: 95%;
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 20px 0 20px;
        border-bottom: 1px solid #e0e0e7;
    }
}
