.system-setup {
    &__types {
        &-select {
            width: 100%;
        }
        &-label,
        &-head {
            width: 220px;
            max-width: 100%;
        }
        &-container {
            @media (max-width: $phone) {
                flex-direction: column;
                & p {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
    &__title {
        font-weight: 300;
        margin: 30px 0 25px;
    }
    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;

        column-count: 2;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    &__btn {
        margin: 35px 0 35px;
        & button {
            padding: 15px 25px 15px 25px;
        }
    }
}
