.system-setup 
    +customizationSelectTypes('Тип системы', 'Умягчение', 'Умягчение', 'Фильтрация')
    h2.system-setup__title Стадия промывки
    .system-setup__container 

        +customizationSelect('Стадия', 'Заполнение бака', 'Заполнение бака', 'Регенерация снизу-вверх', 'Регенерация сверху-вниз', 'Обратная промывка', 'Прямая промывка', 'Конец')
        +customizationInput('Время', '8', '8')

    .system-setup__btn
        +transparentBtn('Добавить стадию')
    
    .system-setup__container 
        +customizationInput('Обменная емкость системы', '20', '20')
        +customizationInput('Ресурс системы (л)', 'Auto', 'Auto')
        +customizationSelect('Тип промывки', 'Немедленная промывка', 'Немедленная промывка', 'Универсальная', 'Отложенная промывка', 'Отложенная x2', 'Отложенная x3', 'Отложенная x4', 'Отложенная x6')
        +customizationInput('Условия работы релейного выхода 1', '0', '0')
        +customizationSelect('Время работы релейного выхода 2', '0', '1', '2')
        +customizationSelect('Пропорциональное заполнение бака', 'Выкл', 'Выкл', 'Пропорциональное')
        +customizationSelect('Режим промывки', '28', '28', '7', 'Выкл')
        +customizationSelect('Настройка режима работы релейного выхода 1', 'Выкл', 'Выкл', 'Промывка-Время', 'Сервис-Литры', 'Промывка', 'Стадия промывки')
        +customizationInput('Время работы релейного выхода 1', '0', '0')
        +customizationInput('Условия работы релейного выхода 2', '0', '0')
        +customizationSelect('Настройка режима работы релейного выхода 2', 'Выкл', 'Выкл', 'Промывка-Время', 'Сервис-Литры', 'Промывка', 'Стадия промывки')



    include ./system-setup-pagination/system-setup-pagination

