#tech.models__tech
  .table
    .table__row
      .table__item.margin-item
        span MAC - адрес
      .table__item.margin-item
        span Статус
      .table__item.margin-item
        span
      .table__item.margin-item
        span Пользовательсксое <br> название клапана
      .table__item.margin-item
        span Привязан к клиенту
      .table__item.margin-item
        span Входит в <br> состав клиента
    .table__row
      .table__item
        span 4C11AEB58BD0
      .table__item
        span Привязан
      .table__item
        span
      .table__item
        span 4C11AEB58930
      .table__item
        span (298)yg@ekodar.com
      .table__item
        span try
    .table__row
      .table__item
        span 4C11AEB58BD0
      .table__item
        span Привязан
      .table__item
        +transparentBtn__action('Действия')
        .tooltip
            .tooltip__content 
              a(href="#" class="tooltip__link") Перейти к клапану
              a(href="#" class="tooltip__link") Отвязать
      .table__item
        span 4C11AEB58930
      .table__item
        span (298)yg@ekodar.com
      .table__item
        span try
    .table__row
      .table__item
        span 4C11AEB58BD0
      .table__item
        span Привязан
      .table__item
        +transparentBtn__action('Действия')
        .tooltip
            .tooltip__content 
              a(href="#" class="tooltip__link") Перейти к клапану
              a(href="#" class="tooltip__link") Отвязать
      .table__item
        span 4C11AEB58930
      .table__item
        span (298)yg@ekodar.com
      .table__item
        span try
    .table__row
      .table__item
        span 4C11AEB58BD0
      .table__item
        span Привязан
      .table__item
        +transparentBtn__action('Действия')
        .tooltip
            .tooltip__content 
              a(href="#" class="tooltip__link") Перейти к клапану
              a(href="#" class="tooltip__link") Отвязать
      .table__item
        span 4C11AEB58930
      .table__item
        span (298)yg@ekodar.com
      .table__item
        span try
    .table__row
      .table__item
        span 4C11AEB58BD0
      .table__item
        span Привязан
      .table__item
        +transparentBtn__action('Действия')
        .tooltip
            .tooltip__content 
              a(href="#" class="tooltip__link") Перейти к клапану
              a(href="#" class="tooltip__link") Отвязать
      .table__item
        span 4C11AEB58930
      .table__item
        span (298)yg@ekodar.com
      .table__item
        span try
    .table__row
      .table__item
        span 4C11AEB58BD0
      .table__item
        span Привязан
      .table__item
        +transparentBtn__action('Действия')
        .tooltip
            .tooltip__content 
              a(href="#" class="tooltip__link") Перейти к клапану
              a(href="#" class="tooltip__link") Отвязать
      .table__item
        span 4C11AEB58930
      .table__item
        span (298)yg@ekodar.com
      .table__item
        span try
    .table__row
      .table__item
        span 4C11AEB58BD0
      .table__item
        span Привязан
      .table__item
        +transparentBtn__action('Действия')
        .tooltip
            .tooltip__content 
              a(href="#" class="tooltip__link") Перейти к клапану
              a(href="#" class="tooltip__link") Отвязать
      .table__item
        span 4C11AEB58930
      .table__item
        span (298)yg@ekodar.com
      .table__item
        span try
    .table__row
      .table__item
        span 4C11AEB58BD0
      .table__item
        span Привязан
      .table__item
        +transparentBtn__action('Действия')
        .tooltip
            .tooltip__content 
              a(href="#" class="tooltip__link") Перейти к клапану
              a(href="#" class="tooltip__link") Отвязать
      .table__item
        span 4C11AEB58930
      .table__item
        span (298)yg@ekodar.com
      .table__item
        span try
.models__tech-scroll
  .pseudo-scroll
    .pseudo-scroll__line
      .pseudo-scroll__line-active
    .pseudo-scroll__arrow.--prev
      svg(xmlns='http://www.w3.org/2000/svg', width='8', height='14', viewbox='0 0 8 14')
        path(d='M1597.71,1516.68l-6.04,6.03a0.972,0.972,0,0,1-1.39,0,0.99,0.99,0,0,1,0-1.39l5.35-5.33-5.35-5.34a0.983,0.983,0,1,1,1.39-1.39l6.04,6.03a1.019,1.019,0,0,1,.29.7A0.978,0.978,0,0,1,1597.71,1516.68Z', transform='translate(-1590 -1508.97)')
    .pseudo-scroll__arrow.--next
      svg(xmlns='http://www.w3.org/2000/svg', width='8', height='14', viewbox='0 0 8 14')
        path(d='M1597.71,1516.68l-6.04,6.03a0.972,0.972,0,0,1-1.39,0,0.99,0.99,0,0,1,0-1.39l5.35-5.33-5.35-5.34a0.983,0.983,0,1,1,1.39-1.39l6.04,6.03a1.019,1.019,0,0,1,.29.7A0.978,0.978,0,0,1,1597.71,1516.68Z', transform='translate(-1590 -1508.97)')
