.customization__info {
    &-input {
        margin-right: 40px;
        height: 85px;
        flex-grow: 0;
        max-width: 45%;
        flex-basis: 50%;

        @media (max-width: $desktop) {
            max-width: 40%;
            margin-right: 60px;
        }
        @media (max-width: $tablet) {
            max-width: 100%;
            margin-right: 0;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 20px 0 20px;
        border-bottom: 1px solid #e0e0e7;

        &__item {
            font-size: 15px;
            text-align: center;
            width: 110px;
            max-width: 100%;
            padding: 7px 0px 7px 0px;
            border: 1px solid #e0e0e7;
            border-radius: 6px;
            cursor: pointer;
            transition: $transition;
            &.--active {
                border-color: #b6c6d4;
            }
            & p {
                color: $active;
            }
            & input {
                font-size: 15px;
                text-align: center;
                width: 100%;
                color: $active;
            }
        }
    }
}
