mixin customizationInput(title, value)
    .customization__info-input 
        p.customization__info-input__title=title
        .customization__info-input__item
            p=value
            input(type="hidden")