mixin transparentBtn(title)
    button(class="transparent__btn")= title

mixin transparentBtn__action(title)
    button(class="transparent__btn transparent__btn-action")= title

mixin transparentBtnProfile(title)
    button(class="transparent__btn client-profile__transparent-btn")= title
