.circle-chart__container
    .circle-chart__info 
        p Остаток 70%
        p Расход 30%
    svg.chart-container(width='200', height='200')
        circle.back(cx='100', cy='100', r='90', fill='none')
        circle.front(cx='100', cy='100', r='90', fill='none')
        g.text
            text#percentage(x='100', y='100', alignment-baseline='central', text-anchor='middle') 70%
