.customization {
    &__container {
        margin-top: 20px;
    }
    &__nav-tabs {
        background: linear-gradient(
            90deg,
            rgba(0, 165, 233, 1) 13%,
            rgba(7, 155, 215, 1) 47%,
            rgba(3, 142, 201, 1) 63%
        );
        padding: 20px 50px 20px 50px;
    }
    &__title-item {
        margin: 15px 0px 10px;
        font-weight: 300;
    }
    &__nav-tab {
        margin-bottom: 20px;
        cursor: pointer;
        color: $white;
        margin-right: 30px;
        transition: $transition;
        position: relative;
        &:last-child {
            margin-right: 0px;
        }
        &.active {
            transition: $transition;
            color: #aeecff;
        }
        &:hover {
            color: #aeecff;
        }
    }
    &__tab-pane {
        width: 100%;
        display: none;
        padding-top: 35px;
        &.active {
            display: block;
        }
    }
}
