.configuration-pagination 
    .configuration-pagination__container 
        .configuration-pagination__btns 
            +button('Применить')
            +transparentBtn('Сброс до заводских настроек')
        .configuration-pagination__warning
            +warningText()