.configuration-pagination 
    .configuration-pagination__container 
        .configuration-pagination__btns 
            +button('Применить')
            +transparentBtn('Сброс до заводских настроек')
        .configuration-pagination__warning
            p Изменение данных настроек может привести к некорректной работе фильтра и резкому ухудшению качества воды. Пожалуйста, не изменяйте их без консультации со специалистами компании Экодар.
