.installer-setup-pagination 
    .installer-setup-pagination__container 
        .installer-setup-pagination__btns 
            +button('Применить')
        .installer-setup-pagination__warning
            +warningText()