.installer-setup-pagination 
    .installer-setup-pagination__container 
        .installer-setup-pagination__btns 
            +button('Применить')
        .installer-setup-pagination__warning
            p Изменение данных настроек может привести к некорректной работе фильтра и резкому ухудшению качества воды. Пожалуйста, не изменяйте их без консультации со специалистами компании Экодар.
