<div class="inner__breadcrumbs">
    <ul class="breadcrumbs">
        <div class="breadcrumbs__wrapper">
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link link link--animation link--active" itemprop="item">
                    <span itemprop="name">Главная</span>
                    <meta itemprop="position" content="1" />
                </a>
            </li>
            <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link link link--animation link--active" itemprop="item">
                    <span itemprop="name">Клапаны</span>
                    <meta itemprop="position" content="2" />
                </a>
            </li>
        </div>
    </ul>
</div>