.tooltip {
    
    visibility: hidden;
    transform: translateY(-90px);
    opacity: 0;
    transition: $transition;

    width: 170px;
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 3;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 6px 27px 0px rgba(0, 0, 0, 0.19);
    padding: 17px;
    &.--active {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
    &__link {
        transition: $transition;
        & p {
            margin-bottom: 10px;
        }
        &:hover {
            color: #1C8EC3;
        }
    }
}