.general-pagination 
    .general-pagination__container 
        .general-pagination__btns 
            +button('Применить')
            +transparentBtn('Перезагрузка')
        .general-pagination__warning
            +warningText()