.statistics__nav-tabs
    a.statistics__nav-tab.active(href='#', data-tab='1-sec') 1 секунда
    a.statistics__nav-tab(href='#', data-tab='5-sec') 5 секунд
    a.statistics__nav-tab(href='#', data-tab='10-sec') 10 секунд
    a.statistics__nav-tab(href='#', data-tab='30-sec') 30 секунд
                
.statistics__tab-content
    .statistics__tab-pane.active(data-tab-content='1-sec')
        include /components/chart/chart

    .statistics__tab-pane(data-tab-content='5-sec')
        5
    .statistics__tab-pane(data-tab-content='10-sec')
        10
    .statistics__tab-pane(data-tab-content='30-sec')
        30
