.statistics,
.interval {
    &__title {
        font-weight: 300;
        margin: 20px 0 25px;
        @media (max-width: $phone) {
            font-size: 18px;
            text-align: center;
        }
    }
    &__nav {
        &-tabs {
            display: flex;
            align-items: center;
            @media (max-width: $tablet) {
                margin-bottom: 25px;
                padding: 0px 7px 0px 7px;
            }
            @media (max-width: $phoneSmall) {
                padding-bottom: 15px;
                flex-direction: column;
                margin: 0 auto;
                width: 150px;
            }
            &.second {
                margin-bottom: 25px;
                @media (max-width: $phoneSmall) {
                    margin-bottom: 0;
                }
            }
        }
        &-tab {
            margin-right: -6px;
            border: 1px solid #e1e2e7;
            border-right: 1px solid #e1e2e7;
            background-color: #ebecf0;
            color: #939bb0;
            padding: 12px 25px 12px 25px;
            border-radius: 4px;
            width: 140px;
            transition: $transition;
            text-align: center;
            @media (max-width: $tablet) {
                padding: 10px 5px 10px 5px;
                width: 100%;
                font-size: 12px;
            }
            @media (max-width: $phoneSmall) {
                width: 150px;
            }
            &:first-child {
                position: relative;
                z-index: 1;
            }
            &:last-child {
                position: relative;
                z-index: 0;
            }
            &:hover {
                color: white;
                background-color: $btn-blue;
            }
            &.active {
                color: white;
                background-color: $btn-blue;
            }
        }
    }
    &__tab-pane {
        width: 100%;
        display: none;
        padding-top: 0px;
        overflow: hidden;
        &.active {
            display: block;
        }
    }
}
