html(lang="ru-RU")
    head 
        include ./templates/head/head

include ./components/components

body
    .wrapper 
        main.main 
            include ./templates/header/header
            include ./templates/tabs/tabs

    script(src="../index.js") 

