.system-setup__pagination 
    .system-setup__pagination-container 
        .system-setup__pagination-btns 
            +button('Применить')
        .system-setup__pagination-warning
            +warningText()