.system-setup__pagination 
    .system-setup__pagination-container 
        .system-setup__pagination-btns 
            +button('Применить')
        .system-setup__pagination-warning
            p Изменение данных настроек может привести к некорректной работе фильтра и резкому ухудшению качества воды. Пожалуйста, не изменяйте их без консультации со специалистами компании Экодар.
