.customization__info {
    &-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
}
