.customization__info
    .customization__info-container 
        +customizationInput('Время клапана', '16:07')
        +customizationInput('Время промывки', '01:00')
        +customizationInput('Жесткость', '6.0')
        +customizationInput('Дней между промывками', '5')
